<!--begin header-->

<div class="events_hero">
    <div class="bg" style="background-image: url(img/events_hero.svg)"></div>
    <div class="img" style="background-image: url(img/events_hero_img.svg)"></div>
    <div class="container">
        <h1><span>Host Your Events</span> <br>
            From Anywhere <br>
            In The World</h1>
        <p>Sell tickets and stream your next event <br> live or on-demand with Bamboo Events</p>
    </div>

</div>
<div class="events_reach">
    <div class="container">
        <h2>Reach, engage, and monetize your audience. <br> Even if they can’t be there in person.</h2>
        <p>Give your audience an online viewing experience as thrilling <br> and seamless as in real life with Bamboo Events</p>
        <div class="cards">
            <div class="item">
                <img src="" alt="">
                <p>Live-stream any live event from anywhere in the world</p>
            </div>
        </div>
    </div>
</div>
<!--end header-->