<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer_block">
            <div class="footer_block-social">
                <div class="footer_block-social-item">
                    <img src="img/facebook.svg" alt="">
                </div>
                <div class="footer_block-social-item">
                    <img src="img/twitter.svg" alt="">
                </div>
                <div class="footer_block-social-item">
                    <img src="img/instagramm.svg" alt="">
                </div>
                <div class="footer_block-social-item">
                    <img src="img/linkedin.svg" alt="">
                </div>
            </div>
            <div class="footer_block-menu">
                <div class="footer_block-menu-item"><a href="#">Why bamboo</a></div>
                <div class="footer_block-menu-item"><a href="#">Suites</a></div>
                <div class="footer_block-menu-item"><a href="#">FAQ</a></div>
                <div class="footer_block-menu-item"><a href="#">Pricing</a></div>
                <div class="footer_block-menu-item"><a href="#">Contacts</a></div>
            </div>
            <div class="footer_block-text">Not sure which Bamboo product is right for you? <br>
                <a href="#">Find out now in this 1-minute quiz</a>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->
