<!--begin header-->
<header class="header">
    <div class="container">
        <div class="menu">
            <a href="index.html" class="logo"></a>
            <div class="nav_menu">
                <div class="nav_menu-left">
                    <ul>
                        <li><a href="#">Why bamboo</a></li>
                        <li><a href="#">Suites</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="nav_menu-right">
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="button">Try for free</a>
        </div>
        <div class="menu_mob">
            <div class="container">
                <a href="index.html" class="logo"></a>
                <a href="index.html" class="menu">
                    <img src="" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<!--end header-->