<!--begin header-->
<header class="header">
    <div class="container">
        <div class="menu">
            <a href="index.html" class="logo"></a>
            <div class="nav_menu">
                <div class="nav_menu-left">
                    <div class="nav_menu--item"><a href="#">Why bamboo</a></div>
                    <div class="nav_menu--item"><a href="#">Suites</a></div>
                    <div class="nav_menu--item"><a href="#">FAQ</a></div>
                    <div class="nav_menu--item"><a href="#">Pricing</a></div>
                </div>
                <div class="nav_menu-right">
                    <div class="nav_menu--item"><a href="#">Contact</a></div>
                    <div class="nav_menu--item"><a href="#">Sign in</a></div>
                </div>
            </div>
            <a href="#" class="button">Try for free</a>
        </div>
    </div>
</header>
<!--end header-->