.events_compatibility
  margin-top: 104px
  .container
    .row
      display: flex
      flex-direction: row
      height: 137px
      justify-content: space-around
      align-items: center
      margin-top: 65px
      box-shadow: 5px 10px 25px rgba(198, 214, 230, 0.3)
      border-radius: 10px
      background: white
      width: 100%
      @media only screen and (max-width: $r-768 - 1)
        display: none
    .swiper-compatibility
      width: 100%
      height: 100%
      display: none
      background: #fff
      min-height: 138px
      box-shadow: 5px 10px 25px rgba(198, 214, 230, 0.3)
      border-radius: 10px
      margin-top: 30px
      @media only screen and (max-width: $r-768 - 1)
        display: flex
        align-items: center
      .swiper-slide
        text-align: center
        font-size: 18px
        width: 100%
        display: -webkit-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        -webkit-justify-content: center
        justify-content: center
        -webkit-box-align: center
        -ms-flex-align: center
        -webkit-align-items: center
        align-items: center
    .arrows
      position: relative
      margin-top: 40px
      flex-direction: row
      justify-content: space-between
      display: none
      @media only screen and (max-width: $r-768 - 1)
        display: flex
      .button-next
        background-image: none
        outline: none
      .button-prev
        background-image: none
        outline: none