.events_works
  position: relative
  @media only screen and (max-width: $r-768 - 1)
    margin-top: 90px
  .container

    .text
      h2
        font-size: 44px
    .row
      justify-content: space-between
      flex-direction: row
      @media only screen and (max-width: $r-768 - 1)
        flex-direction: column
      .item
        max-width: 356px
        @media only screen and (max-width: $r-768 - 1)
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          margin-top: 40px
        img
          margin-left: -20px
        h2
          font-size: 26px
          text-align: left
          margin-top: 10px
        p
          line-height: 170.7%
          b
            color: #009F10
            font-family: GeometriaBold
      @media only screen and (min-width: $r-768 - 1)
        .one
          margin-top: 72px
        .two
          margin-top: 357px
        .three
          margin-top: 44px
  .img-center
    position: absolute
    top: 25px
    width: 48%
    z-index: -1
    left: 28%

  .img-right
    position: absolute
    right: 0
    top: -180px
    z-index: -1
    @media only screen and (min-width: $r-768 - 1)
      top: -150px