.home_block3
  background-image: url("../img/block3_bg1.svg")
  background-size: 130%
  background-position: bottom
  background-repeat: no-repeat
  .img
    margin-bottom: 420px
    display: flex
    justify-content: center
    position: relative
    a
      top: 135px
      position: absolute
.container
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  p
    margin: 20px 0
  h4
    color: #1E4843
    font-size: 18px
    font-family: GeometriaLight

.home_block4
  background-size: 100%
  background-position: top
  margin-top: -200px
  z-index: -1
  position: relative
  h2
    margin-top: 300px
    color: white
    margin-bottom: 32px
  h6
    font-size: 18px
    color: white
    font-family: GeometriaMedium
    line-height: 162.7%
    margin-bottom: 37px
  span
    color: white
    font-size: 30px
    line-height: 162.7%
    font-family: GeometriaMedium
    margin-bottom: 90px