.home_block8
  margin-top: 182px
  &_start
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin-bottom: 160px
    p
      @media only screen and (max-width: $r-768 - 1)
        max-width: 255px
    h2
      margin: 0
    &--title
      font-size: 34px
      color: #1E4843
      font-weight: 600
    &--text
      font-size: 18px
      color: #1E4843
      font-weight: 300
    .steps
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      @media only screen and (max-width: $r-768 - 1)
        flex-direction: column
        align-items: center
      &-item
        display: flex
        flex-direction: column
        max-width: 277px
        &--image
          position: relative
          width: 277px
          height: 275px
          img
            position: absolute
            top: 0
            left: 0
          &-number
            width: 52.54px
            height: 52.54px
            border: 3px solid #01B213
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            top: 52px
            position: absolute
            left: 15px
            background: white
            color: #01B213
            transition: .3s ease-in-out
          &:hover
            cursor: pointer
            div
              background: #01B213
              color: white
        &--text
          color: #1E4843
          font-size: 19px
          font-weight: 300
          @media only screen and (max-width: $r-768 - 1)
            font-size: 17px