.block2
  margin-top: 90px
  &_cards
    display: flex
    flex-direction: row
    margin-top: 70px
    margin-bottom: 150px
    &--item
      display: flex
      flex-direction: column
      width: 100%
      max-width: 353px
      padding: 80px 30px 60px
      align-items: center
      background-position: 500px -200%
      background-repeat: no-repeat
      transition: ease-in-out 0.5s
      &:hover
        box-shadow: 0 21px 35px rgba(115, 177, 168, 0.15)
        border-radius: 10px
        cursor: pointer
        background-image: url(../img/block2_card.svg)
        background-size: auto
        background-position: 200px -60%
        background-repeat: no-repeat
      &-img
        height: 86px
        width: 75px
        margin-bottom: 32px
      &-text
        font-size: 17px
        line-height: 162.7%
        color: #57605F
        font-family: GeometriaLight
  .container
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    h2
      color: #1E4843
      font-size: 34px
      font-family: GeometriaMedium
      margin-bottom: 15px
    h5
      color: #1E4843
      opacity: 80%
      font-size: 18px
      font-family: GeometriaLight
      margin-bottom: 30px
    h4
      color: #1E4843
      font-size: 18px
      font-family: GeometriaLight
