.home_block9
  .container
    justify-content: normal
    @media only screen and (max-width: $r-768 - 1)
      justify-content: center
  img
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
  &_get
    align-self: start
    display: flex
    flex-direction: column
    align-items: start
    margin-bottom: 204px
    @media only screen and (max-width: $r-768 - 1)
      align-items: center
      margin-bottom: 130px
    .title
      font-size: 37px
      line-height: 135.7%
      color: #1E4843
      font-weight: 600
      text-align: start
      margin-bottom: 42px
      max-width: 623px
      @media only screen and (max-width: $r-768 - 1)
        text-align: center
      b
        color: #009F10
