.home_block5
  position: relative
  @media only screen and (max-width: $r-768 - 1)
    margin-bottom: 100px
  .bg1
    width: 100%
    height: 100%
    top: 15%
    left: 0
    position: absolute
  .bg2
    width: 100%
    height: 100%
    top: 67%
    left: 0
    position: absolute
    z-index: -1
  .bg3
    max-width: 88px
    max-height: 88px
    top: 42%
    right: 14%
    position: absolute
    z-index: -1
  .slider
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    &--title
      display: flex
      flex-direction: column
      h2
        max-width: 370px
        text-align: left
        margin-right: 60px
      &-arrows
        display: flex
        flex-direction: row
        justify-content: space-between
        max-width: 93px
        margin-top: 25px
      &-text
        font-size: 30px
        line-height: 145.7%
        color: #1E4843
        font-weight: 600
        text-align: start
    &--cards
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      &-item
        width: 372px
        min-height: 420px
        padding: 40px
        box-shadow: 0px 21px 35px rgba(115, 177, 168, 0.15)
        border-radius: 10px
        background: white
        .title
          font-size: 27px
          line-height: 132.7%
          font-weight: 600
          color: #009F10
          text-align: start
          margin-bottom: 20px
        .text
          font-size: 17px
          color: #57605F
          line-height: 162.7%
          font-weight: 300
          text-align: start
        &:first-child
          margin-top: 70px
          margin-right: 40px
        .author
          display: flex
          flex-direction: row
          justify-content: space-between
          align-items: center
          margin-top: 40px
          &-left
            display: flex
            flex-direction: column
            &-name
              font-size: 18px
              line-height: 132.7%
              color: #1E4843
              font-weight: 600
            &-social
              display: flex
              flex-direction: row
              justify-content: space-between
              max-width: 77px
              a
                &:hover
                  svg
                    path
                      fill-opacity: 100%
                      fill: #99FF1E
                      transition: 0.5s ease-in-out
          &-avatar
            border-radius: 50%
            border: 3px solid #77E24B
            width: 59px
            height: 59px
            background-image: url(../img/avatar.png)
            background-position: center
            background-size: cover
