.home_block7
  display: flex
  flex-direction: column
  position: relative
  .bg1
    width: 1054px
    height: 695px
    top: 62%
    right: 0
    position: absolute
    z-index: -1
  .container
    flex-direction: column
    padding: 0
    margin: auto
    max-width: 1145px
    width: 100%
    h2
      font-size: 34px
      line-height: 135.7%
      color: #1E4843
      font-weight: 600
      max-width: 682px
      align-self: center
    p
      margin: 10px auto

  &-title
    span
      color: #009F10
  &-text
    font-size: 18px
    color: #1E4843
    font-weight: 300
    margin-top: 17px
  .cards
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    margin-top: 100px
    &--item
      flex: 25%
      max-width: 266px
      background: #FFFFFF
      box-shadow: 0px 6px 25px rgba(115, 177, 168, 0.17)
      border-radius: 10px
      padding: 38px 22px 18px
      background-image: url("../img/block6_card.svg")
      background-position: bottom
      background-repeat: no-repeat
      min-height: 433px
      margin: 10px
      transition: .3s ease-in-out
      a
        &:hover
          color: white
      &:hover
        cursor: pointer
        background-image: url("../img/block6_card_hover.svg")
        a
          color: white
      &-title
        margin-top: 24px
        font-size: 20px
        line-height: 162.7%
        color: #1E4843
        font-weight: 600
        margin-bottom: 12px
      &-text
        font-size: 17px
        color: rgba(30, 72, 67, 0.8)
        opacity: 80%
        font-weight: 300
        margin-bottom: 74px
        min-height: 130px
      &-button
        font-size: 16px
        line-height: 162.7%
        color: #009F10
        font-weight: 500