footer
  background: #1E4843

.footer_block
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 90px
  align-items: center

  &-social
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    max-width: 145px
  &-menu
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    max-width: 430px
    a
      font-size: 14px
      color: white
      font-family: GeometriaLight
  &-text
    color: white
    font-family: GeometriaLight
    a
      color: #7FE425
      text-decoration: underline