.header
  background: linear-gradient(90.02deg, #EBF9FD 0.01%, #EBFDF5 99.98%)
  padding: 8px 0
  @media only screen and (max-width: $r-768 - 1)
    padding: 10px 0
    background: white
  .container
    .navigation
      display: flex
      justify-content: space-between
      align-items: center
      .logo
        margin-right: 50px
        img
          max-width: 150px
          height: auto
      .nav_menu
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        margin-right: 25px
        @media only screen and (max-width: $r-992)
          display: none
        &-left
          ul
            padding: 0
            li
              display: inline
              margin-right: 42px
              list-style: none
              @media only screen and (max-width: $r-1200)
                margin-right: 15px
              a
                color: #1E4843
                transition: .3s
                text-decoration: none
                &:hover
                  color: #009F10
        &-right
          ul
            padding: 0
            li
              display: inline
              margin-left: 42px
              list-style: none
              a
                color: #1E4843
                transition: .3s
                text-decoration: none
                &:hover
                  color: #009F10
      .btn-green
        min-width: 170px
        @media only screen and (max-width: $r-992)
          display: none
      .burger
        display: none
        @media only screen and (max-width: $r-992)
          display: block
