body
  font-family: 'Poppins', sans-serif
  margin: 0
h1
  color: #1E4843
  font-weight: 600
  font-size: 52px
  margin-bottom: 20px
p
  color: #1E4843
  font-weight: 300
  text-align: center
  font-size: 17px
  margin-bottom: 30px

h3
  font-size: 18px !important
  color: #1E4843
  font-weight: 500
  margin-bottom: 20px

h2
  color: #1E4843
  font-size: 34px
  font-weight: 500
  span
    color: #009F10
h5
  color: #1E4843
  opacity: 80%
  font-size: 18px
  font-weight: 300
  margin-bottom: 30px
h4
  color: #1E4843
  font-size: 18px
  font-weight: 300

.desc
  color: #57605F
  font-size: 13px
  font-weight: 300


.button
  background: linear-gradient(92.53deg, #7FE425 -8.94%, #21C11F 97.09%)
  border-radius: 41px
  color: white !important
  padding: 16px 15px
  min-width: 241px
  margin-bottom: 20px
  font-weight: 600
  cursor: pointer
  transition: .3s ease-in-out
  &:hover
    text-decoration: underline

